[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
manim = "*"
matplotlib = "*"
manim-chemistry = "*"

manim-slides = {version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
